@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hapus scrollbar default */
::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

/* Desain scrollbar kustom */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Warna cursor scrollbar */
  border-radius: 10px; /* Bentuk cursor */
}

/* Efek hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Warna cursor saat dihover */
}
